<div class="container text-center">
    <h1>About Page</h1>
    <p>The museum, through its collections and interactive exhibits,
    tells the story of Constitution ("Old Ironsides") and the people who designed,
    built, and sailed her.</p>
</div>