<div class="home-callout text-center container-fluid">
    <h1>Welcome to DevMatch.</h1>
    <h3>Timmons began his inter-county career as a member of the Wicklow senior team in the early 'fifties.</h3>
</div>
<div class="container home-signup-links">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Basic membership link</h2>
                <h4>Sign up for free and get basic access to the service</h4>
                <br/>
                <%= link_to "Sign up with Basic", "#", class: 'btn btn-primary btn-lg btn-block' %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Pro membership link</h2>
                    <h4>Sign up for free athe pro account for 10$/month and get access to the service and extra bananas</h4>
                <%= link_to "Sign up with Pro", "#", class: 'btn btn-success btn-lg btn-block' %>
            </div>
        </div>
    </div>
</div>

